﻿@*@model IEnumerable<DrivingSchool.Models.RequestAMeeting>*@
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="row admin-row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="admin-side-menu active">@Html.ActionLink("Messages", "Admin", "Home")</li>

            <li class="admin-side-menu">@Html.ActionLink("Tolk Clients", "TolkClient", "Home")</li>
            <li class="admin-side-menu">@Html.ActionLink("All Students", "Students", "Student")</li>

            <li class="dropdown">
            <a class="dropdown-toggle admin-side-menu" data-toggle="dropdown" href="#">Student Status <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="admin-side-menu">@Html.ActionLink("New", "New", "Student")</li>
                <li class="admin-side-menu">@Html.ActionLink("Theory", "Theory", "Student")
                <li class="admin-side-menu">@Html.ActionLink("Practical", "Practical", "Student")</li>
                <li role="separator" class="divider"></li>
                <li class="admin-side-menu">@Html.ActionLink("Incomplete", "Incomplete", "Student")</li>
            </ul>

        </ul>
    </div>*@
    @*<h3 class="admin-dashboard">Admin Dashboard</h3>*@

    <div class="col-md-9">

        @*<h4 class="message-dashboard">Messages</h4>*@

        <div class="panel  panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Messages</div>


            <table id="meetings" class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Regarding</th>
                    <th>Full Name</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        </div>


        </div>

</div>
@section scripts{
    <script>

        $(document).ready(function() {
            var table = $("#meetings").DataTable({
                ajax: {
                    url: "/api/meetingrequest/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "subject",
                        render: function (data, type, meeting) {
                            return "<a href='/home/details/" + meeting.id + " '>" + data + "</a>";

                        }

                    },
                    {
                        data: "requestAMeetingFor.name"
                    },
                    {
                        data: "fullName"
                    },
                    
                    
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class ='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });
    </script>
}