﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="home">
    <div id="carousel" class="carousel slide">

        
        <ol class="carousel-indicators">
            <li class="active" data-target="#carousel" data-slide-to="0"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
       
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/slide1.jpg" alt="" width="1280" height="510">
                <div class="carousel-caption">
                    <h1 class="visible-lg visible-md hidden-sm hidden-xs">A Team Of<br>Professionals</h1>

                </div>
            </div>
            <div class="item">
                <img src="/images/slide2.jpg" alt="" width="1280" height="510">
                <div class="carousel-caption">
                    <h1 class="visible-lg visible-md hidden-sm hidden-xs">To Take Care of Your<br>NEED</h1>

                </div>
            </div>
            <div class="item">
                <img src="/images/slide3.jpg" alt="" width="1280" height="510">
                <div class="carousel-caption">
                    <h1 class="visible-lg visible-md hidden-sm hidden-xs">Best Theory Class, Books and <br>Equipments
                    </h1>

                </div>
            </div>

            <div class="item">
                <img src="/images/slide4.jpg" alt="" width="1280" height="510">
                <div class="carousel-caption">
                    <h1 class="visible-lg visible-md hidden-sm hidden-xs">Tailored Practical Classes to suit your<br>SKILL</h1>

                </div>
            </div>
        </div>
        
        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>




    </div>
</div>