﻿@using System.Globalization
@model DrivingSchool.ViewModel.RequestAMeetingFormViewModel
@{
    ViewBag.Title = "Request an Appointment/Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content" class="bookappointment">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header clearfix">
                <h4 class="pull-left antagon-font-oswald-bold">Bede om et møde - Request an Appointment/Meeting</h4>


                <div class="datetime">
                    
                    @{
                        DateTime dt = DateTime.Now;
                        CultureInfo us = new CultureInfo("en-US");
                        string dayName = DateTime.Now.ToString("ddd",us);

                    }
                    <div class="top">
                        <p>@dayName</p>
                    </div>
                    <div class="btm">
                        
                        <p class="day">@string.Format("{0:d}",dt.Day)</p>
                        <p class="mon">@string.Format("{0:MMM}",dt)</p>
                        <p class="yr">@DateTime.Now.Year</p>
                    </div>
                </div>

            </div> <!--div page-header ends-->

        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h4>Please fillup the form</h4>
            <hr />
            @*@using (@Html.BeginForm("Save", "Home"))*@
            @using(Html.BeginForm())
            {
                @Html.ValidationSummary(true, "Please fix the following erros!")
                
                <div class="form-group">
                    @Html.LabelFor(m => m.RequestAMeeting.Subject)
                    @Html.TextBoxFor(m => m.RequestAMeeting.Subject, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestAMeeting.Subject)
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.RequestAMeeting.RequestAMeetingForId)

                    @Html.DropDownListFor(m => m.RequestAMeeting.RequestAMeetingForId,
                    new SelectList(Model.RequestAMeetingFors, "Id", "Name"),
                    "Select Tolk or Driving", new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.RequestAMeeting.RequestAMeetingForId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.RequestAMeeting.FullName)
                    @Html.TextBoxFor(m => m.RequestAMeeting.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestAMeeting.FullName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RequestAMeeting.MobileNumber)
                    @Html.TextBoxFor(m => m.RequestAMeeting.MobileNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestAMeeting.MobileNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RequestAMeeting.EmailAddress)
                    @Html.TextBoxFor(m => m.RequestAMeeting.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestAMeeting.EmailAddress)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RequestAMeeting.Message)
                    @Html.EditorFor(m => m.RequestAMeeting.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestAMeeting.Message)
                </div>
                @Html.HiddenFor(m => m.RequestAMeeting.Id)
                @Html.AntiForgeryToken()


                <button type="submit" class="btn btn-primary">Save</button>


            }
            @section scripts
                {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
