﻿
@{
    ViewBag.Title = "TolkClient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-9">
    @*<h4 class="message-dashboard">Tolk Clients' List</h4>*@
    <div class="panel  panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">List of Tolk/Translation Clients</div>
        <table id="meetings" class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Email Address</th>
                <th>Previous Appointment Dates</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>



</div>





