﻿@{
    ViewBag.Title = "Tolk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tolk</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="alert alert-info" role="alert">
            My Resume
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer porta nulla lobortis laoreet vehicula. Quisque a pulvinar ex, placerat vestibulum nulla.
            Sed vitae auctor eros. Phasellus convallis vel arcu in facilisis. Nulla volutpat tellus auctor elementum interdum. Aenean laoreet ullamcorper sem eu condimentum. Quisque gravida enim at augue vestibulum molestie. Morbi tempus vestibulum condimentum. Maecenas blandit cursus mauris, rutrum hendrerit purus scelerisque finibus. In sed blandit metus, nec gravida lectus. Curabitur sapien sem, blandit sit amet enim quis, pellentesque blandit odio. Ut arcu tortor,
            vulputate rhoncus nunc sit amet, pharetra commodo ipsum.
        </p>
        <p>
            Morbi commodo, lacus nec auctor varius, erat velit cursus diam, eget blandit massa nibh ut leo.
            Maecenas tempor lorem ex, at lacinia augue porttitor vel. Proin tincidunt, dolor vel sollicitudin viverra, n
            isi odio ultricies ex, ut molestie lectus urna ut orci. Integer pulvinar non eros sit amet dignissim. Curabitur vel urna leo. Sed hendrerit risus et ex eleifend elementum. Donec dictum sapien volutpat, lacinia nisl vel, luctus ex. Ut sollicitudin fermentum porta. Sed pretium sit amet mauris ornare mattis. Nulla facilisi. Integer in magna et turpis gravida porta nec at elit.
            Suspendisse ac laoreet risus.
        </p>
    </div>
    <div class="col-md-offset-6">
        <div class="alert alert-success" role="alert">About Me</div>
        <p>
            Vivamus in vulputate velit. Donec vestibulum arcu sed laoreet aliquet. Vivamus vulputate condimentum turpis, ac placerat eros porta non. Ut convallis elit et nunc elementum, viverra porttitor leo ornare. Sed porttitor volutpat mauris id sollicitudin. Praesent eu sem leo. Quisque vel imperdiet ex, at sodales risus. Aenean eget elit porta, tempor elit ac, auctor dolor. Curabitur feugiat convallis dapibus.
        </p>
        <p>
            Proin interdum aliquet elementum. Nam malesuada arcu eget varius lacinia. Vestibulum sed tempor neque. Vivamus tempor iaculis lacinia. Curabitur ullamcorper mollis mi id volutpat. Suspendisse potenti. Aliquam bibendum, diam consequat tincidunt lobortis, erat erat rutrum enim, nec tempor velit odio a eros. Vivamus sit amet lacus eu orci tincidunt congue. Ut pulvinar, lorem sit amet convallis facilisis, neque mauris dignissim magna, at venenatis massa nulla a est. Donec in diam et ipsum vehicula ultricies. Phasellus auctor pharetra nibh, eu interdum dui venenatis ut. Ut mollis magna viverra luctus aliquet.
        </p>
    </div>
</div>

