﻿<footer>

    <div class="navbar navbar-inverse navbar-bottom">
        <div class="container">
            <div class="row">


                <div class="col-lg-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="sr-only">open navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--<a class="navbar-brand" href="#"> Company name</a>-->
                    </div>
                    <div class="container">
                        <div class="collapse navbar-collapse" id="responsive-menu">
                            `
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                <li><a href="index.html#ourteam">The Team</a></li>
                                <li><a href="index.html#ourteam">Getting a Danish Driver License</a>
                                <li class="dropup">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Tolk Service", "Tolk", "Home")</li>
                                        <li><a href="consulent.html">Integration Consulent</a></li>

                                    </ul>
                                </li>
                                <li><a href="index.html#products">Gallery</a></li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li></ul>
                            <ul>
                                <li><a href="/"><i class="fa fa-car fa-3x "></i></a></li>

                                @*<li>
                    <span class="meraba0">Global</span> <span class="meraba1">Trafik Skole</span> <span class="meraba0">&</span> <span class="meraba2">Tolk</span>
                </li>
            </ul>*@
                            </ul>



                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</footer>
