﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    



    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <!-- blue line -->
            <div class="col-lg-12-top">

            </div>
            <!-- End of blue line -->

            <div class="navbar navbar-merab">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="phtext2m">
                            <i class="fa fa-twitter-square fa-m2x"></i>
                            <i class="fa fa-facebook-square fa-m2x"></i>
                            <i class="fa fa-google-plus-square fa-m2x"></i>
                            <i class="fa fa-linkedin-square fa-m2x"></i>
                            <i class="fa fa-youtube-square fa-m2x"></i>
                        </div>


                        <div class="phtext1">
                            <i class="fa fa-phone fa-lg"> </i> 26 22 56 12  | <i class="fa fa-envelope-o fa-lg"></i> palden@sherpa.dk
                        </div>
                    </div>
                </div>



            </div>
            <div class="navbar navbar-undermerabi">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="phtext4m">
                            <a href="/"><i class="fa fa-car fa-3x"></i></a>
                        </div>
                        <div class="logotext">
                            Global <span class="meraba1">Trafik Skole</span> & <span class="meraba2">Tolk</span>
                        </div>


                        <div class="phtext3">
                            <div class="btn btn-success hidden-xs">
                                <i class="fa fa-language fa-xs"></i>@Html.ActionLink("Tolk Service", "Tolk", "Home")
                            </div>

                            <div class="btn btn-primary hidden-xs">
                                <i class="fa fa-file-o fa-xs"></i>
                                    @Html.ActionLink("Request a Meeting","RequestABooking","Home")
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-12 gverd">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                                <span class="sr-only">open navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#"> Company name</a>-->
                        </div>
                        <div class="collapse navbar-collapse" id="responsive-menu">


                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                <li><a href="#ourteam">The Team</a></li>
                                <li><a href="#services">Getting a Danish Driver License</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Tolk Service", "Tolk", "Home")</li>
                                        <li><a href="integration-consulent.html">Integration Consulent</a></li>

                                    </ul>
                                </li>
                                <li><a href="#products">Gallery</a></li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>


                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                @*<li><a href="@Url.Action("Register", "Account")" id="registerLink"><i class="fa fa-user-plus" aria-hidden="true"></i>REGISTER</a></li>

                                    <li><a href="@Url.Action("Login","Account")" id="loginLink"><i class="fa fa-sign-in" aria-hidden="true"></i>LOGIN</a></li>*@

                                @Html.Partial("_LoginPartial");
                            </ul>
                        </div>

                    </div>
                </div>
            </div>





        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />



    </div>





    <footer>
        @Html.Partial("_Footer")
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
