﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    @*<link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/css/superslides.css" rel="stylesheet">
    <link href="/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/css/isotope.css" rel="stylesheet">*@
    @*<link rel="stylesheet" href="/Content/css/animate.min.css">*@
    @*<link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/media.css" rel="stylesheet">*@
    @*<script src="/js/jquery.js"></script>*@
    @*<script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.queryloader2.js"></script>
    <script src="js/jquery.superslides.js"></script>
    <script src="js/jquery.caroufredsel.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.parallax-1.1.3.resize.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/cform.js"></script>
    <script src="js/scripts.js"></script>*@



    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <!-- blue line -->
            <div class="col-lg-12-top">

            </div>
            <!-- End of blue line -->

            <div class="navbar navbar-merab">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="phtext2m">
                            <i class="fa fa-twitter-square fa-m2x"></i>
                            <i class="fa fa-facebook-square fa-m2x"></i>
                            <i class="fa fa-google-plus-square fa-m2x"></i>
                            <i class="fa fa-linkedin-square fa-m2x"></i>
                            <i class="fa fa-youtube-square fa-m2x"></i>
                        </div>


                        <div class="phtext1">
                            <i class="fa fa-phone fa-lg"> </i> 26 22 56 12  | <i class="fa fa-envelope-o fa-lg"></i> palden@sherpa.dk
                        </div>
                    </div>
                </div>



            </div>
            <div class="navbar navbar-undermerabi">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="phtext4m">
                            <a href="/"><i class="fa fa-car fa-3x"></i></a>
                        </div>
                        <div class="logotext">
                            Global <span class="meraba1">Trafik Skole</span> & <span class="meraba2">Tolk</span>
                        </div>


                        <div class="phtext3">
                            <div class="btn btn-success hidden-xs"><i class="fa fa-language fa-xs"></i>Tolk Service</div> <div class="btn btn-primary hidden-xs"><i class="fa fa-file-o fa-xs"></i> Book an Appointment</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-12 gverd">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                                <span class="sr-only">open navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#"> Company name</a>-->
                        </div>
                        <div class="collapse navbar-collapse" id="responsive-menu">


                            <ul class="nav navbar-nav">
                                <li><a href="#home">HOME</a></li>
                                <li><a href="#about">ABOUT</a></li>
                                <li><a href="#ourteam">OUR TEAM</a></li>
                                <li><a href="#services">How it works?</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="tolk.html">Tolk</a></li>
                                        <li><a href="integration-consulent.html">Integration Consulent</a></li>

                                    </ul>
                                </li>
                                <li><a href="#products">GALLERY</a></li>
                                <li><a href="#contacts">CONTACT</a></li>


                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                @*<li><a href="@Url.Action("Register", "Account")" id="registerLink"><i class="fa fa-user-plus" aria-hidden="true"></i>REGISTER</a></li>

                                <li><a href="@Url.Action("Login","Account")" id="loginLink"><i class="fa fa-sign-in" aria-hidden="true"></i>LOGIN</a></li>*@

                                @Html.Partial("_LoginPartial");
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>





        </div>
    </div>

    <div id="home">
        <div id="carousel" class="carousel slide">

            <!-- индикаторы слайдов-->
            <ol class="carousel-indicators">
                <li class="active" data-target="#carousel" data-slide-to="0"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!-- слайды-->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/images/slide1.jpg" alt="" width="1280" height="510">
                    <div class="carousel-caption">
                        <h1 class="visible-lg visible-md hidden-sm hidden-xs">A Team OF Medical<br>Professionals</h1>

                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slide2.jpg" alt="" width="1280" height="510">
                    <div class="carousel-caption">
                        <h1 class="visible-lg visible-md hidden-sm hidden-xs">TO TAKE CARE OF YOUR <br>HEALTH</h1>

                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slide3.jpg" alt="" width="1280" height="510">
                    <div class="carousel-caption">
                        <h1 class="visible-lg visible-md hidden-sm hidden-xs">A Modern Hospital With Latest <br>Equipments</h1>

                    </div>
                </div>
            </div>
            <!-- стрелки переключения слайдов-->
            <a href="#carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>


            

        </div>
    </div>


<div class="container body-content">
    @RenderBody()
    <hr/>








<footer>

    <div class="navbar navbar-inverse navbar-bottom">
        <div class="container">
            <div class="row">


                <div class="col-lg-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="sr-only">open navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--<a class="navbar-brand" href="#"> Company name</a>-->
                    </div>
                    <div class="container">
                        <div class="collapse navbar-collapse" id="responsive-menu">
                            `
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">HOME</a></li>
                                <li><a href="index.html#about">ABOUT</a></li>
                                <li><a href="index.html#ourteam">OUR TEAM</a></li>
                                <li><a href="index.html#ourteam">Getting a driver License</a><
                                <li class="dropup">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="tolk.html">Tolk</a></li>
                                        <li><a href="consulent.html">Integration Consulent</a></li>

                                    </ul>
                                </li>
                                <li><a href="index.html#products">Gallery</a></li>
                                <li><a href="index.html#contacts">Contact</a></li>
                            </ul>

                            <li><a href="/"><i class="fa fa-car fa-2x "></i></a></li>
                            <li></li>
                                @*<li>
            <span class="meraba0">Global</span> <span class="meraba1">Trafik Skole</span> <span class="meraba0">&</span> <span class="meraba2">Tolk</span>
        </li>
    </ul>*@



                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    
</footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </div>
</body>
</html>
