﻿<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Messages</a></li>
    <li role="presentation">
        <a href="#">Students</a>
        <ul>
            <li><a href="#">Submenu1</a></li>
        </ul>
    </li>

    <li role="presentation"><a href="#">Tolk Klienter</a></li>
</ul>
