﻿@model DrivingSchool.Models.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="row admin-row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="admin-side-menu">@Html.ActionLink("Messages", "Admin", "Home")</li>

            <li class="admin-side-menu">@Html.ActionLink("Tolk Clients", "TolkClient", "Home")</li>
            <li class="admin-side-menu active">@Html.ActionLink("All Students", "Students", "Student")</li>

            <li class="dropdown">
                <a class="dropdown-toggle admin-side-menu" data-toggle="dropdown" href="#">Student Status <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="admin-side-menu">@Html.ActionLink("New", "New", "Student")</li>
                    <li class="admin-side-menu">@Html.ActionLink("Theory", "Theory", "Student")
                    <li class="admin-side-menu">@Html.ActionLink("Practical", "Practical", "Student")</li>
                    <li role="separator" class="divider"></li>
                    <li class="admin-side-menu">@Html.ActionLink("Incomplete", "Incomplete", "Student")</li>
                </ul>

        </ul>
    </div>*@
    <div class="col-md-9">
    @*<h4 class="message-header"><span class="label label-info">Details of @Model.FirstName</span></h4>*@

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Personal Details of @Model.FirstName</h3>
        </div>
        <div class="panel-body">
            @*<div id="meetings">*@
                <ul class="message-detail">
                    <li>Full Name: @Model.FirstName  @Model.MiddleName @Model.LastName</li>
                    <li>Email:@Model.Email</></li>
                    <li>Mobile Number: @Model.Mobile</li>
                    <li>Start Date: @Model.StartDate</li>
                    <li>Status:<strong>@Model.StudentJourney.Status</strong> </li>

                </ul>
            @*</div>*@
            </div>
    </div>
    </div>







