﻿@using DrivingSchool.Dtos
@model DrivingSchool.ViewModel.StudentEditFormViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel  panel-primary panel-edit-students">
    <!-- Default panel contents -->
    <div class="panel-heading">Edit Student</div>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "* Required")


        @*<div class="row admin-row">*@
        <div class="row edit-row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.FirstName, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.FirstName)
                </div>
            </div>
           
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.MiddleName, new { @class = "control-label" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.MiddleName, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.MiddleName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.LastName, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.LastName, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.Email, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.Email, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.StudentJourneyId, new { @class = "control-label" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.DropDownListFor(m => m.Student.StudentJourneyId, new SelectList(Model.StudentJourneys, "Id", "Status"),
                "Select Status", new { @class = "form-control" })

                </div>

            </div>
        </div>








        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.Email, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.Email, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.RegistrationAccessCode, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.RegistrationAccessCode, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.RegistrationAccessCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.Mobile, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.Mobile, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.BirthDate, new { @class = "control-label" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.BirthDate, new { @class = "form-control" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Student.StartDate, new { @class = "control-label required" })
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Student.StartDate, new { @Value = DateTime.Now.ToShortDateString(), @class = "form-control", @id = "myInput" })
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Student.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">

                @Html.HiddenFor(m => m.Student.Id)

                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">Save</button>

            </div>
        </div>
    }

</div>