﻿
@{
    ViewBag.Title = "Practical";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="row admin-row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="admin-side-menu">@Html.ActionLink("Messages", "Admin", "Home")</li>

            <li class="admin-side-menu">@Html.ActionLink("Tolk Clients", "TolkClient", "Home")</li>
            <li class="admin-side-menu">@Html.ActionLink("All Students", "Students", "Student")</li>

            <li class="dropdown">
                <a class="dropdown-toggle admin-side-menu" data-toggle="dropdown" href="#">Student Status <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="admin-side-menu active">@Html.ActionLink("New", "New", "Student")</li>
                    <li class="admin-side-menu">@Html.ActionLink("Theory", "Theory", "Student")
                    <li class="admin-side-menu">@Html.ActionLink("Practical", "Practical", "Student")</li>
                    <li role="separator" class="divider"></li>
                    <li class="admin-side-menu">@Html.ActionLink("Incomplete", "Incomplete", "Student")</li>
                </ul>

        </ul>
    </div>*@
    <div class="col-md-9">
        @*<h4 class="message-dashboard">Practical Passed Students' List</h4>*@
        <div class="panel  panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Practical Passed Students' List</div>

            <table id="meetings" class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>Email Address</th>
                        <th>Start Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>

</div>

@section scripts{
    <script>

        $(document).ready(function() {
            $.ajax({
                url: "/api/getstudent/",
                type: "Get",

                success: function(data) {

                    for (var i = 0; i < data.length; i++) {
                        if (data[i].studentJourneyId === 3) {
                            $("<tr><td>" + data[i].firstName + "</td><td>" + data[i].lastName + "</td><td>" + data[i].mobile + "</td><td>" + data[i].email + "</td><td>" + data[i].startDate + "</td></tr>").appendTo("#meetings");
                        }
                    }

                  },
                error: function(msg) { alert(msg); }

            });
        });
    </script>
}





