﻿@using System.Globalization
@using DrivingSchool.Models
@model DrivingSchool.Models.Student

@{
    ViewBag.Title = "Student Registration";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="register-student">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header clearfix">
                <h4 class="pull-left antagon-font-oswald-bold">Please Enter Your Details & Remember the Pass Code</h4>


                <div class="datetime">

                    @{
                        DateTime dt = DateTime.Now;
                        CultureInfo us = new CultureInfo("en-US");
                        string dayName = DateTime.Now.ToString("ddd", us);

                    }
                    <div class="top">
                        <p>@dayName</p>
                    </div>
                    <div class="btm">

                        <p class="day">@string.Format("{0:d}", dt.Day)</p>
                        <p class="mon">@string.Format("{0:MMM}", dt)</p>
                        <p class="yr">@DateTime.Now.Year</p>
                    </div>
                </div>

            </div> <!--div page-header ends-->

        </div>
    </div>




    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false, "* Required")


        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.FirstName, new {@class = "control-label required"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.MiddleName, new {@class = "control-label"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.MiddleName, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.MiddleName, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.LastName, new {@class = "control-label required"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.LastName, null, new {@class = "text-danger"})
                </div>
            </div>
        </div>



        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label required"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.RegistrationAccessCode, new {@class = "control-label required"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.RegistrationAccessCode, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.RegistrationAccessCode, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Mobile, new {@class = "control-label required"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.Mobile, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.Mobile, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.BirthDate, new {@class = "control-label"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.BirthDate, new {@class = "form-control"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.BirthDate, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.StartDate, new {@class = "control-label required"})
                </div>
                <div class="col-md-4 form-register-student">
                    @Html.TextBoxFor(m => m.StartDate, new {@Value=DateTime.Now.ToShortDateString(), @class = "form-control", @id = "myInput"})
                </div>
                <div class="col-md-5 form-register-student">
                    @Html.ValidationMessageFor(m => m.StartDate, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.StuStatus)
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">Save</button>

            </div>
        </div>
    }
    @section scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function(){
        $('#myInput').attr('readonly',@Html.Raw(Model.Id == 0? "true" : "false"));
    });
    </script>

    }
</div>

