﻿
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*<div class="row admin-row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="admin-side-menu">@Html.ActionLink("Messages", "Admin", "Home")</li>

            <li class="admin-side-menu">@Html.ActionLink("Tolk Clients", "TolkClient", "Home")</li>
            <li class="admin-side-menu active">@Html.ActionLink("All Students", "Students", "Student")</li>

            <li class="dropdown">
                <a class="dropdown-toggle admin-side-menu" data-toggle="dropdown" href="#">Student Status <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="admin-side-menu">@Html.ActionLink("New", "New", "Student")</li>
                    <li class="admin-side-menu">@Html.ActionLink("Theory", "Theory", "Student")
                    <li class="admin-side-menu">@Html.ActionLink("Practical", "Practical", "Student")</li>
                    <li role="separator" class="divider"></li>
                    <li class="admin-side-menu">@Html.ActionLink("Incomplete", "Incomplete", "Student")</li>
                </ul>

        </ul>
    </div>*@
    <div class="col-md-9">
        @*<h4 class="message-dashboard">All Students' List</h4>*@
        <div class="panel  panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">All Students' List</div>
            <table id="meetings" class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Start Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        </div>


        


@section scripts{
    <script>

        $(document).ready(function() {
            var table = $("#meetings").DataTable({
                ajax: {
                    url: "/api/getstudent/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function (data, type, student) {
                            return "<a href='/student/details/" + student.id + " '>" + data + "</a>";

                        }

                    },
                    
                    {
                        data: "lastName"
                    },
                    {
                        data: "mobile"
                    },
                    {
                        data: "startDate",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.length > 1 ? month : "" + month) + "-" + date.getDate() + "-" + date.getFullYear();
                        }
                    },
                    {
                        data: "stuStatus",
                        render:function(data,type,student) {
                            return "<a href='/student/edit/" + student.id + "'>" + student.studentJourney.status + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class ='btn-link js-delete' data-student-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
       


        $("#meetings").on("click", ".js-delete", function() {
            var button = $(this);
            bootbox.confirm("Do you want to DELETE this student?", function(result) {
                if (result) {
                    $.ajax({
                        url: "/api/getstudent/" + button.attr("data-student-id"),
                        method: "DELETE",
                        success:function() {
                            table.row(button.parents("tr")).remove().draw();
                        } 
                    });
                }
            });
        });

    });
    </script>
}

