
/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300);
@import url(http://fonts.googleapis.com/css?family=Francois+One&subset=latin,latin-ext);

/* Global properties ======================================================== */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
    
}

.imgWrap {
    position: relative;
    margin-top: 0;
    float:right;
}
#services {
    margin: 60px 0 0 0;
    
    
}
.imgDescription {
  width: 74px;
  margin-left: 671px;
  height: 71px;
  position: absolute;
  padding-top: 20px;
  bottom: -4px !important;
  background: #2e8bdf;
  color: #fff;
    text-align: center;
    font-size: 16px;
    
  border-top-right-radius: 0;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

label.required:after
{
    content: "*";
    font-weight: bold;
    color: red; 
}
.bord {
border-left: 1px;
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
table#meetings {
    margin-top: 20px;
}
.container {
    width: 95%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.panel-edit-students {
    margin-left: 350px;
    /*margin-top: 100px;*/
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.col-lg-5 {
  width: 31%;
  float: left;
}
.navbar {
  border-radius: 0;
}

.navbar-inverse {
  background-color: #363636;
  border-color: #363636;
  margin-bottom: 0;
}
.navbar-merab {
    background-color: #f2f7fa;
    margin-bottom: 0;
    padding-top: 10px;
      padding-left: 120px;
    border: none;
    border-color: #2789e2;
}

.navbar-meco {
    background-color: #363636;
    margin-top: 0;
    border: none;  
}
.navbar-undermerabi {
  background-color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  color: #000;
  padding-left: 0;
  padding-top: 1px;
  min-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
.navbar-undermeco {
    background-color: #fff;
    
    cursor: pointer;
  font-size: 1.9em;
  color: #000;
    padding-left: 89px;
    padding-top: 21px;
    
    min-height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;  
}
.navbar-undermeco-sx {
    background-color: #fff;
    
    cursor: pointer;
  font-size: 1.9em;
  color: #000;
    padding-left: 15px;
    padding-top: 21px;
    
    min-height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;  
}

.rowm {
  margin-top: 204px;
  margin-right: 0;
  margin-left: 0;
}

.input-group {
  padding-top: 100px;
  position: relative;
  display: table;
  border-collapse: separate;
  padding-right: 0;
    width: 340px;
    
    
}
.admin-row {
    margin-top: 200px;
}
.edit-row {
    padding-top: 70px;
    margin-top: 50px;
    margin-bottom: -45px;
}
li.admin-side-menu {
    width: 170px;
}
a.admin-side-menu {
    width: 170px;
}

span.caret {
    color: #2e6da4;
}

.dropdown-menu li a {
    color: #337ab7;
}

@media (min-width: 992px){
.col-md-5 {
  width: 800px;
}
}
.col-lg-4 {
  width: 31%;
  align-content: center;
}
.col-xs-offset-1 {
  margin-left: 3.333333%;
}
.text {
   text-align: justify;
  margin: 0 15px;
}
.text-m {
   text-align: justify;
  
}
.category{
  color: #2886e3;
  font-weight: bolder;
  font-size: 20px;
  font-size: 18px;
  margin: 41px 0 13px 2px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: -92px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 9px;
  line-height: 1.428571;
  height: 34px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
border-top: 0 solid #ddd; 
}

.col-lg-12-top {
    
  width: 100%;
    background-color: #2789e2;
    height: 5px;
}
.col-lg-12-m {
    padding-top: 1px;
      font-family: Raleway;
  
height: 250px;
    background-image: url(../images/screen1.jpg);
    color:#fff;
    text-align: center;
      
}
.col-lg-12-m span {
    font-size: 36px;
      
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  padding-right: 0;
    font-size: 15px;
  background-color: #241F1F;
    min-height: 71px;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
    margin-bottom: 0;
}
.navbar-header {
/*min-height: 71px;*/
    height: 50px;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 5px 6px;
  margin-top: 4px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #f16528;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
    color: #fff;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.carousel {
  position: relative;
  padding-top: 0 ;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 60%;
  z-index: 5;
  display: inline-block;
}

.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 0;
  background-color: #335ab7;
}
.carousel-indicators li {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #335ab7;
  border-radius: 13px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
    font-size: 20px;
     text-shadow: 0 2px 4px #000;
}

.gverd {
 padding-left: 23px;
}
.padd {
 padding-left: 169px;
}
.paddi {
 padding-left: 194px;
}
.paddi7 {
 padding-left: 149px;
}
.meraba {
color: #f16528;
    font-weight: 100;
    
}
.merabia{
    color: #fff;
    font-weight: 800;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 340px;
}
.blogtext{
    
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    
}

.img-thumbnail {
    position: absolute;
  margin: -45px 0 0 -9px;
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  
}
.posttext{
padding-left: 80px;
}
.image{
    position: relative;
    max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
      float: right;
}

.border {
border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#ddd;
}
.meraba0 {
    color: white;
    font-weight: 200;
    font-size: 26px;
}

.meraba1 {
color: #f16528;
    font-weight: 200;
    font-size: 26px;

}
.meraba2 {
    color: #2084e6;
    font-weight: 200;
    font-size: 26px;
}


.meraba1b {
  color: #f16528;
  font-weight: 200;
  font-size: 19px;
}

.merabino {
color: #000;
    font-weight: 400;
    font-size: 25px;
    padding-left: 0;
    padding-bottom: 0;
    
}

/*.merabino-bottom {
color: #000;
    font-weight: 400;
    font-size: 25px;
    padding-left: 257px;
    padding-bottom: 0;
    
}*/
.merabi {
color: #000;
    font-weight: 100;
    
}
.muraba {
  font-family: Raleway;
  font-size: 45px;
  margin-top: 70px;
}
h1, .h1 {
    font-size: 65px;
  margin-top: 48px;
  margin-bottom: 20px;
}



h2, .h2 {
    font-family: Raleway;
font-size: 45px;
    margin-top: 70px;
  
}
h4, .h4 {
  font-size: 20px;
      margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
    color:black;
}
.container-fluid1 h1, .h1 {
    font-size: 65px;
  margin-top: 61px;
  margin-bottom: 20px;
}

.container-fluid2 {
  background: #000;
}
#about{
    position: relative; 
    background: #fff; 
    padding-top: 0; 
    padding-bottom: 0;
    
}
.container-fluid1 {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #f16528;
}
.container-fluid{
  margin-right: 0;
  margin-left: 0;
    padding-right: 0;
  padding-left: 0;

}
.mecoo {
    font-size: 24px;
  color: #848484;
letter-spacing: 4px;
    text-align: center;
}
.container1 {
    margin-top: 50px;
    width: 1500px;
    font-family: Raleway;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.fa-mr2x {
    cursor: pointer;
  font-size: 4.9em;
    color: #2986e3;
    padding-left: 550px;
    padding-top: 16px;
}
.fa-m2x {
    cursor: pointer;
  font-size: 1.9em;
    color: #cccccc;
    padding-right: 2px;
}
.fa-m2x:hover {
  font-size: 1.9em;
    color: #e96826;
    transition: 0.2s;
}
.fa-3x:hover {
  
    color: #6fb6fd;
    transition: 0.2s;
}
.fa-3x {
  
    color: #2986e3;
}

.fa-5x {
  font-size: 8em;
    padding-left: 133px;
    color: #2986e3;
}
.fa-5md {
    padding-top: 30px;
  font-size: 8em;
   
   
    color: #2986e3;
}

.fa-6x {
  font-size: 8em;
    padding-left: 120px;
    color: #f16528;
}
.fa-6md {
    padding-top: 30px;
  font-size: 8em;
    
    color: #f16528;
}
.fa-7x {
  font-size: 8em;
    padding-left: 115px;
    color: #2986e3;
}
.spun {
  padding-left: 103px;
}
.col-lg-4-m {
  width: 33.33333333%;
  padding-left: 315px;
}
.col-lg-4 {
  width: 33.33333333%;
  align-content: center;
}

.col-md-4 {
    text-align: center;
  width: 100%;
  
}
.skun {
background-color: #363636;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #2084e6;
  border-color: #2084e6;
}
.orange {
    text-align: center;
    margin-top: 5px;
color:#f16528;
      float: right;
}
.orange2 {
    text-align: center;
    font-size: 8.5px;
    margin-top: 5px;
color:#f16528;
}
.orangem {
    margin: 3px 10px 0 0;
    color: #f16528;
    float: left;
}
p {
text-align:justify;
}

p span {
 font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    
}
.titleblock{
    
font-weight: bold;
margin-top: 45px;
    font-size: 18px;
}
.post {
    display: block;
    width: 341px;
    margin: 25px 0 0 0;
}

.post img {
    float:left;
}

.post p {
    
    margin-left: 80px;
}

.post-left p {
    margin-top: -69px;
    margin-left: 80px;
}
  /*margin: 53px 0 0 9px;
    text-align: left;*/

.text2 {
    text-align: center;
color:black;
    font-size: 20px;
    
}
.text4 {
    padding-top: 50px;
    padding-left: 255px;
    padding-bottom: 0;
    color: #fff;
    font-size: 50px;
}
.text5 {
    padding-top: 0;
    padding-left: 255px;
    font-family: Tahoma;
      font-weight: 600;
    color: #fff;
    font-size: 50px;
}
.text6 {
    padding-top: 23px;
    padding-left: 255px;
    padding-bottom: 0;
    color: #fff;
    font-size: 27px;
}

.text4md {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 0;
    color: #fff;
    font-size: 29px;
}
.text5md {
    padding-top: 0;
    padding-left: 60px;
    font-family: Tahoma;
      font-weight: 600;
    color: #fff;
    font-size: 29px;
}
.text6md {
    padding-top: 23px;
    padding-left: 60px;
    padding-bottom: 0;
    color: #fff;
    font-size: 19px;
}
.text4sm {
    padding-top: 18px;
    padding-left: 250px;
    padding-bottom: 0;
    color: #fff;
    font-size: 32px;
}
.text5sm {
    padding-top: 0;
    padding-left: 250px;
    font-family: Tahoma;
      font-weight: 600;
    color: #fff;
    font-size: 32px;
}
.text6sm {
    padding-top: 23px;
    padding-left: 250px;
    padding-bottom: 0;
    color: #fff;
    font-size: 18px;
}
.text4xs {
    padding-top: 18px;
    padding-left: 25px;
    padding-bottom: 0;
    color: #fff;
    font-size: 24px;
}
.text5xs {
    padding-top: 0;
    padding-left: 25px;
    font-family: Tahoma;
      font-weight: 600;
    color: #fff;
    font-size: 24px;
}
.text6xs {
    padding-top: 23px;
    padding-left: 25px;
    padding-bottom: 0;
    color: #fff;
    font-size: 15px;
}

.text-logo {
padding-left: 500px;
}
.fa-phone, .fa-envelope-o {
color: #f16528;
    
}

.phtext {
    color:#6d6d6d;
   padding-top: 6px;
     padding-left: 150px;
    font-size: 13px;
}
.phtext1 {
      padding-right: 120px;
      float: right;
    color:#6d6d6d;
   padding-top: 6px;
     
    font-size: 13px;
}


.btn-primary {
  color: #fff;
  background-color: #2084e6;
  border-color: #2e6da4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #f16528;
  border-color: #f16528;
    transition: 0.2s;
}

.btn1-default {
    margin-top: 35px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
    margin-bottom: 63px;
}
.btn1-default:hover {
background-color: #c8e3fe;
}
.btn-orange {
  color: #fff;
  background-color: #f16528;
  border-color: #f16528;
}
.btn-orange:hover {
  color: #000;
  background-color: #b1d8fe;
  border-color: #b1d8fe;
    transition: 0.3s;
}
.pr {
margin-top: 10px;
}
.center{
  display: block;
  padding: 28px 0 0 293px;

}
.pos {
    position: absolute;
  margin-left: 250px;
  margin-top: 37px;
  padding: 10px 20px;
  border: 2px;
  border-radius: 21px;
  background-color: #f16528;
}
.posmd {
    margin-left: 60px;
  margin-top: 37px;
    padding: 10px 20px;
    border: 2px;
    border-radius: 21px;
    background-color: #f16528;
}
.possm {
    margin-left: 250px;
  margin-top: 9px;
    padding: 10px 20px;
    border: 2px;
    border-radius: 21px;
    background-color: #f16528;
}
.posxs {
    margin-left: 25px;
  margin-top: 9px;
    padding: 10px 20px;
    border: 2px;
    border-radius: 21px;
    background-color: #f16528;
}
.pos:hover {
    background-color: #f1804f;
}




.containerm {
    
background: #ccc;
    background-image: url(../images/screen.jpg);
    height: 346px;
}

.back {
background-image: url(../images/screen.jpg);
}
.page_title2 span {
  display: inline-block;
  padding: 0 60px;
  position: relative;
}
.page_title2 em.l {
  right: 100%;
}
.page_title2 em {
  display: inline-block;
  width: 1000px;
  height: 22px;
  background: url(../images/h_px2.png) center center repeat-x;
  position: absolute;
  top: 50%;
  margin-top: -11px;
}

.page_title2 em.r {
  left: 100%;
}


.page_title{font-size: 30px; line-height: 36px; color: #201f1e; font-family: 'Roboto Condensed'; font-weight: 700; text-transform: uppercase; text-align: center; overflow: hidden; margin-top: 20px; margin-bottom: 30px;}
.page_title span{display: inline-block; padding: 0 60px; position: relative;}
.page_title em{display: inline-block; width: 1000px; height: 22px; background: url(../images/h_px1.png) center center repeat-x; position: absolute; top: 50%; margin-top: -11px;}
.page_title em.l{right: 100%;}
.page_title em.r{left: 100%;}


.page_title2{font-size: 36px; line-height: 36px; color: #000; font-family: 'Raleway'; font-weight: 700; text-transform: uppercase; text-align: center; overflow: hidden; margin-top: 20px; margin-bottom: 30px;}
.page_title2 span{display: inline-block; margin-top: 75px; padding: 0 60px; position: relative;}
.page_title2 em{display: inline-block; width: 1000px; height: 22px; background: url(../images/h_px1.png) center center repeat-x; position: absolute; top: 50%; margin-top: -11px;}
.page_title2 em.l{right: 100%;}
.page_title2 em.r{left: 100%;}


.page_title5{font-size: 36px; line-height: 36px; color: #000; font-family: 'Raleway'; font-weight: 700; text-align: center; overflow: hidden; margin-top: -80px; margin-bottom: -14px;}
.page_title5 span{display: inline-block; margin-top: 75px; padding: 0 60px; position: relative;}
.page_title5 em{display: inline-block; width: 1000px; height: 22px; background: url(../images/h_px1.png) center center repeat-x; position: absolute; top: 50%; margin-top: -11px;}
.page_title5 em.l{right: 100%;}
.page_title5 em.r{left: 100%;}

/* ============================= banner ====================== */
#banner_wrapper{ position: relative; padding-top: 0; padding-bottom: 0;}

.banner_title{}

#banner{position: relative; padding-bottom: 0; padding-top: 0; }

.banner_prev{display: block; width: 25px; height: 42px; position: absolute; left: -50px; top: 50%; margin-top: -21px; z-index: 0;}
.banner_prev .over1{display: block; width: 100%; height: 100%; position: absolute; background: url(../images/prev2.png) left top no-repeat;opacity: 0.2; filter: alpha(opacity=20);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner_prev:hover .over1{opacity: 1; filter: alpha(opacity=100);}

.banner_next{display: block; width: 25px; height: 42px; position: absolute; right: -50px; top: 50%; margin-top: -21px; z-index: 0;}
.banner_next .over1{display: block; width: 100%; height: 100%; position: absolute; background: url(../images/next2.png) left top no-repeat;opacity: 0.2; filter: alpha(opacity=20);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner_next:hover .over1{opacity: 1; filter: alpha(opacity=100);}




#banner .carousel-box{position: relative;}
#banner .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0; margin-top: 70px;}
#banner .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#banner .caroufredsel_wrapper{padding: 0; margin: 0;}
#banner .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#banner .carousel-box ul li { float:left; display: inline-block; padding:0 0 0 0; position:relative; width:300px; overflow:hidden; padding-right:30px }

.banner{}
.banner .banner_inner{}
.banner .banner_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover{  }
.banner .banner_inner a .txt1{font-family: 'Roboto Condensed'; font-weight: 700; font-size: 28px; line-height: 28px; color: #201f1e; text-transform: uppercase; padding-bottom: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .txt1{}
.banner .banner_inner a figure{margin: 0; padding: 0; position: relative; border: none;  background: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure{}
.banner .banner_inner a figure .img{width: 100%;}
.banner .banner_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}
.banner .banner_inner a .caption{background: #f2f2f2; padding: 25px; border: 1px solid #e1e1e1; border-top: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption{background: #fff;}
.banner .banner_inner a .caption .txt2{color: #201f1e; font-weight: 700; text-transform: uppercase; padding-bottom: 5px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption .txt2{}
.banner .banner_inner a .caption .txt3{color: #858585; padding-bottom: 30px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption .txt3{}
.banner .banner_inner a .caption .txt4{color: #201f1e; font-size: 18px; font-family: 'Asap';
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption .txt4{}
/* ============================= banner end ====================== */

#google_map{position: relative;}
.google_map{width: 100%; position: relative; overflow: hidden; margin: 20px 0; padding: 0; background: #fff; border: none; line-height: 1px; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
.google_map iframe{position: relative; overflow: hidden; width: 100%; height: 300px; border: none; background: #fff; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;line-height: 0;}

@media (max-width: 480px) {

  .google_map iframe{height: 240px;}

}



.btn-default.btn-cf-submit{display: inline-block; background: none; color: #000; font-family: 'Asap'; font-size: 18px; line-height: 20px; font-weight: 400; padding: 15px 30px; text-decoration: none;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #b9b9b9;
    margin-left: 16px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn-cf-submit:hover{background: #f16528; color: #fff; border-color: #f2bf02;}


.location1 i {
  color: #f16528;
  font-size: 30px;
  float: left;
  padding-right: 15px;
}


/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: #000; color: #ffffff;}
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; }
.parallax .container { }
.parallax-content {position: absolute; padding-top: 0; padding-bottom: 0; text-align: center;}

.parallax_txt1{font-size: 46px; line-height: 50px; color: #fff; font-family: 'Asap'; text-transform: uppercase;}
.parallax_txt2{font-size: 84px; line-height: 90px; color: #fff; font-family: 'Asap'; text-transform: uppercase; font-weight: 700;}
.parallax_txt3{position:absolute; font-size: 46px; line-height: 50px; color: #fff; font-family: 'Asap'; text-transform: uppercase;}
.parallax_txt4{font-size: 36px; line-height: 54px; color: #fff; font-family: 'Asap'; text-transform: uppercase;}
.parallax_txt4 a{color: #fff;}


.bg1 { background-image: url(../images/parallax1.jpg); }

.bg2 { background-image: url(../images/parallax6.jpg); }

.bg3 { background-image: url(../images/parallax3.jpg); }

.bg4 { background-image: url(../images/parallax6.jpg); }


#parallax1{ color: #d6d6d6;}
#parallax1 .row_cust{background: #000; background: rgba(0, 0, 0, 0.6); margin-left: 0; margin-right: 0;}
#parallax1 .col_cust{padding-left: 0; padding-right: 0;}
#parallax1 .minheight1{border-left: 1px solid #858585; padding: 0 35px 90px;}
#parallax1 .minheight1.last{border-right: 1px solid #858585;}

.yellow_corner_small{height: 35px; background: url(../images/yellow_corner_small.png) top center no-repeat;}

#parallax1 .txt1{font-family: 'Asap'; font-size: 24px; line-height: 24px; font-weight: 700; color: #fff; text-transform: uppercase; padding-top: 100px; padding-bottom: 30px;}
#parallax1 .txt2{font-weight: 700; text-transform: uppercase; padding-bottom: 10px;}
#parallax1 .txt3{padding-bottom: 30px;}

#parallax2{position: relative; overflow: visible; height: 350px;}

.yellow_box{width: 126px; height: 127px; background: url(../images/yellow_box.png) top center no-repeat; position: absolute; left: 50%; margin-left: -63px; top: -63px; z-index: 1;}

#parallax2 .parallax-content{padding: 120px 0;}

#parallax3{}

.yellow_corner{width: 158px; height: 79px; background: url(../images/yellow_corner.png) top center no-repeat; position: absolute; left: 50%; margin-left: -79px; top: 0; z-index: 1;}

#parallax3 .parallax-content{padding: 120px 0;}

#parallax4{}
#parallax4 .parallax-content{padding: 120px 0;}


.google_map {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0 0 0;
  padding: 0;
  background: #fff;
  border: none;
  line-height: 1px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.google_map iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
  border: none;
  background: #fff;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  line-height: 0;
}
.loginPlace {
    float: right;
 padding-left: 300px;
    /*//padding-top: 8px;*/
}
/*.nav > li > a#registerLink {
    display: block;
    position: relative;
    padding-left:280px ;
    }*/

.alert-info {
    margin-top: 30px;
}
.alert-success {
    margin-top: 30px;
}

 #content{
 
    background: -moz-linear-gradient(top,  #e6e5e6 0, #eeeeed 3%, #efeeee 4%, #f7f6f7 7%, #fbfbfb 11%, #ffffff 34%, #fafafa 64%, #f1f1f1 81%, #e6e6e6 95%, #e4e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e6e5e6), color-stop(3%,#eeeeed), color-stop(4%,#efeeee), color-stop(7%,#f7f6f7), color-stop(11%,#fbfbfb), color-stop(34%,#ffffff), color-stop(64%,#fafafa), color-stop(81%,#f1f1f1), color-stop(95%,#e6e6e6), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e6e5e6 0,#eeeeed 3%,#efeeee 4%,#f7f6f7 7%,#fbfbfb 11%,#ffffff 34%,#fafafa 64%,#f1f1f1 81%,#e6e6e6 95%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e5e6 0,#eeeeed 3%,#efeeee 4%,#f7f6f7 7%,#fbfbfb 11%,#ffffff 34%,#fafafa 64%,#f1f1f1 81%,#e6e6e6 95%,#e4e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e5e6 0,#eeeeed 3%,#efeeee 4%,#f7f6f7 7%,#fbfbfb 11%,#ffffff 34%,#fafafa 64%,#f1f1f1 81%,#e6e6e6 95%,#e4e4e4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e6e5e6 0,#eeeeed 3%,#efeeee 4%,#f7f6f7 7%,#fbfbfb 11%,#ffffff 34%,#fafafa 64%,#f1f1f1 81%,#e6e6e6 95%,#e4e4e4 100%); /* W3C */
  }
  
  div.datetime {
      float: right; 
      width: 3.1em; 
      min-width:48px; 
      color:#2f4765; 
      background:url(/images/corner.gif) no-repeat right bottom; 
      text-align:center; 
      font-size:x-small;

  }
 div.datetime p {
        margin:0 auto; 
        padding:0;
 }
 div.datetime .top {
     color:#fefefe; 
     background-color:#2f4765; 
     margin:0 6px 0 0; 
     padding:6px 0 1px 0; 
     line-height:100%; 
     border-top:1px solid #283c56; 
     border-bottom:1px solid #316640; 
     border-left:1px solid #283c56;
 }

 div.datetime .top p { 
      background:url(/images/caltop.gif) no-repeat 50% 0;  margin:-9px auto 0; 
      padding-top:11px; padding-bottom:0; padding-left:1px; text-align:center; 
      font:bold x-small/100% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif; 
      letter-spacing:0.12em; 
      text-transform:uppercase;

    }
  
 div.datetime .btm {
     color:#365174; 
     background:transparent; 
     border-left:1px solid #a1c6ac; 
     margin:0 10px 5px 0; 
     padding:0 0 1px 0;
 }
  
  /* day of the month (NUMBER) */ 
  div.datetime p.day {
      margin:0 3px 0 8px; 
      text-align:center; 
      color:#365174; 
      background-color:transparent; 
      padding:0 0 1px 0; 
      font:bold 1.5em/98% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif; 
      letter-spacing:0.13em;
  }
  /* month */ 
  div.datetime p.mon {
      margin:0 3px 0 8px; 
      text-align:center; 
      padding:0; 
      font:x-small/135% Verdana,Geneva,Arial,Helvetica,sans-serif; 
      letter-spacing:normal; 
      line-height:100%; 
      text-transform:uppercase; color:#283d57; background-color:transparent;
  }
  /* year */ 
  div.datetime p.yr {
      text-align:center; 
      margin-right:14px; 
      margin-left:5px; 
      padding:0 4px 0 0; 
      font:x-small/110% Verdana,Geneva,Arial,Helvetica,sans-serif; 
      letter-spacing:0.05em; 
      color:#283d57; 
      background-color:transparent;
  }
  
  .bookappointment {
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 200px;

  }
  .register-student {
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 200px;
  }
  form #RequestAMeeting_Message {
      width: 680px;
      height: 150px;
  }
  form .field-validation-error {
      color: red;
  }
  form .validation-summary-errors {
      color: red;
  }
  span.field-validation-valid {
      width: 350px;
  }
  .nav-stacked {
     width: 110px;
      /*margin-top: 60px;*/
  }
  h3.admin-dashboard {

      float: none;
      color: blue;
  }
  h4.message-dashboard {
      float: left;
      
  }
div#meetings {
    margin-top: 120px;
   
}
div#meetings ul li {
     list-style: none;
}
ul.message-detail {
    float: left;
    list-style: none;
}
#meetings_wrapper.dataTables_wrapper {
    margin-top: 20px;
}
.form-register-student {
      width: 33.33%;
      display: inline-block;
  }
.form-group {
    margin-bottom: 45px;
}